.header1{
    color: blue;
    border-bottom: 3px solid rgb(204, 198, 198);
    margin-bottom: 10px;
}
// h5:after{
//     content: '';
//     display: block;
//     width: 35px;
//     border-bottom: 1px solid blue;
// }
